a {
    color: #edeae0;
}

p{
    font-family: "Helvetica Neue";
    font-size: 15px;
    color: white;
    margin: 20px; 
}
body{
    background-color: black;
    width: 100vw;
    margin: 0px;
}

button {
    background-color: #edeae0;
    font-family: "Helvetica Neue";
    border: none;
    font-size: 20px;
    margin: 10px;
    padding: 5px 12px;
    text-align: center;
}

button:hover{
    background-color: #cdc9bf;
}

button:focus{
    background-color: #b1ada3;
}

.portfolio-title{
    color: white;
    font-family: "Apple Chancery", "cursive";
    font-size: 40px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.river-img {
    width: 100vw;
    margin-left: 0px;
    top: 35%;
    left: -5%;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    top: 60%;
}

.content-container{
    font-size: 18px;
    font-family: "Helvetica Neue";
    color: white;
    margin: 10px; 
}

.writ-speak, .installation, .web-design, .music-tech, .about{
    position: absolute;
    visibility: hidden;
    width: 80%;
    margin-left: 10px;
}