body{
    background-image: url("doily_zoomed.jpg");
    background-repeat: repeat;
    background-size: 10vw;
}

.start{
    font-family: "Apple Chancery", "cursive";
    position: absolute;
    top: 50vh;
    height: 100vh;
    width: 100vw;
    font-size: 40px;
    text-align: center;
    z-index: 1;
}

.doily1{
    width: 100vw;
    position: absolute; 
    left: 0vw;
    z-index: 0;
}

.doily2{
    width: 40vw;
    position: absolute; 
    top: 0;
    left: 100vw;
}

.doily3{
    width: 50vh;
    position: absolute; 
    top: 30vh;
    left: 110vw;
}

.doily4{
    width: 30vh;
    position: absolute; 
    top: 10vh;
    left: 70vw;
}
.doily5{
    width: 70vh;
    position: absolute; 
    top: 5vh;
    left: 0vw;
    z-index: -1;
}
.doily6{
    width: 20vh;
    position: absolute; 
    top: 0vh;
    left: 10vw;
}