.header{
    height: 10vh;
}
body{
    position: relative; 
    text-align: center;
}
.frame{
    width: 150vh;
    height: 2000vh;
}

.citation{
    font-size: 12px;
    font-style: italic;
}

.frame-within{
    width: 150vh;
}